<section>
    <p class="text-2xl text-green-500">Popular categories</p>
    <owl-carousel-o [options]="customOptions">
        @for (cat of categories; track cat._id) {
            <ng-template carouselSlide>
                <!-- content -->
                <div>
                    <img [src]="cat.image" class="w-full h-[250px]" alt="">
                    <h3 class="text-green-600">{{cat.name}}</h3>
                </div>
            </ng-template>
        }    
      </owl-carousel-o>
</section>



<section>
    <p class="text-4xl text-green-500">Popular Products</p>
    <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-10 mt-5">
        @for (prod of products.slice(1,12); track prod.id) {
            <div class="card border border-green-400/50 rounded-md overflow-hidden shadow relative">
                <div class="card-img">
                    <img [src]="prod.imageCover" class="w-full h-[250px] object-contain" [alt]="prod.title">
                </div>
                <div class="card-body px-2 py-4">
                    <h4 class="text-green-500 text-xs">{{prod.category.name}}</h4>
                    <h3 class="font-medium">{{prod.title.split(' ', 2).join(' ')}}</h3>
                    <div class="flex justify-between items-center">
                        <span>{{prod.price}} EGP</span>
                        <div class="flex items-center">
                            <i class="fas fa-star text-yellow-300"></i>
                            <span class="text-gray-500">{{prod.ratingsAverage}}</span>
                        </div>
                    </div>
                </div>
                <button class="bg-green-600 text-white py-2 px-10 border rounded w-[90%] mx-auto block">Add To Card</button>
            </div>
        }
    </div>
</section>