.card{
    transition: all 0.5s;
    button{
        transform: translateY(100%);
        transition: all 0.5s;
        opacity: 0;
    }


    &:hover{
        transform: scale(1.1);
        button{
            transform: translateY(0);
            opacity: 1;
        }
    }
}

